// VARIABLES

$primary-color: #50b4fc;
$secondary-color: #e8e9f3;

// $secondary-color: #436282;
// $primary-color: #eaeaea;

// $primary-color: #2980b9;
// $secondary-color: #6dd5fa;

$section-padding: 3rem 1.5rem 3rem 1.5rem;

$card-background-color: #216ab2;

/** For individual back grounds**/

$header-sect-bg-color: #f7f7f7;
// $header-sect-bg-color: #b2cfe8;

$proj-sect-bg-color: #c7e1f9;
$skills-sect-bg-color: #e8b2b8;
$about-sect-bg-color: #c2ede6;
$contact-sect-bg-color: #f2f280;

/** For alternating backgrounds **/

// $proj-sect-bg-color: $primary-color;
// $skills-sect-bg-color: $secondary-color;
// $about-sect-bg-color: $primary-color;
// $contact-sect-bg-color: $secondary-color;

$proj-card-bg-color: #50b4fc;
$techs-bg-color: #50b4fc;
$skill-card-bg-color: #c63140;
$about-card-bg-color: #316845;
$edu-card-bg-color: #316845;
$contact-card-bg-color: #e5e817;
